---
# Author page layout
layout: item/item-page-base
---

<div class="card mb-4 text-center">
    <div class="card-body">
        <h2>Publications in this collection:</h2>
        {% assign related_pubs = site.data.publications | where_exp: 'pub', 'pub.authorid contains page.objectid' %}
        {% for p in related_pubs %}
        <a href="{{ '/items/' | relative_url }}{{ p.objectid }}.html">{{ p.title }}, {{ p.date }}</a>
        {% endfor %}
        <div class="mt-2">

            {% include item/download-buttons.html %}

        </div>

    </div>
</div>
