---
# basic layout for PDF documents
# Displays image_small if available, with fall back to image_thumb, or a pdf icon.
layout: item/item-page-base
---

<div class="card mb-4 text-center">
    <div class="card-body">
        <p>
            {% include item/item-thumb.html %}
        </p>

        <div class="mt-2">

            {% include item/download-buttons.html %}

        </div>
        
    </div>
</div>
<span vocab="http://schema.org/" typeof="Periodical">
    <span property="identifier" content="https://doi.org/{{ page.identifier }}"></span>
    <span property="name" content="{{ page.title }}"></span>
    <span property="datePublished" content="{{ page.date }}"></span>
<b>Authors: </b>{% assign authors = page.authorid | split: ';' %}{% for a in authors %}
    {% assign author = site.data.authors | where: 'objectid', a | first %}
    <a property="author" content="{{ author.title }}" href="{{ '/authors/' | relative_url }}{{ author.objectid }}.html">{{ author.title }}</a>
{% endfor %}
</span>